.box6 {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;

    .recent-prescription {
        display: flex;
        flex-direction: column;
        padding-top:20px;

        h1 {
            font-family: "Titillium Web", sans-serif;
            font-size: 28px;
            font-weight: 600;
            line-height: 42.59px;
            text-align: center;
            color: rgba(38, 50, 56, 0.8);
            margin-bottom: 0;
            
        }

        p {
            font-family: "Titillium Web", sans-serif;
            font-size: 17px;
            font-weight: 600;
            line-height: 25.86px;
            text-align: right;
            color: rgba(38, 50, 56, 0.33);

        }

        table {
            width: 100%;

            tr {
                text-align: center;
                

                th {
                    font-family: "Titillium Web", sans-serif;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 30.42px;
                    color: rgba(103, 100, 100, 1);
                    background: #00ACBA0D;


                }

                td {
                    font-family: "Titillium Web", sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27.38px;
                    color: #676464;
                    padding: 10px;
                    white-space: nowrap;

                    span {
                        font-family: "Titillium Web", sans-serif;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 18.25px;
                        color: #676464;
                        background: #D9D9D9;
                        border-radius: 50%;
                        padding: 5px;

                    }
                }
            }


        }
    }
}