html, body {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.main-box {
    background: linear-gradient(180deg, #02223A 37.5%, #032439 82.23%, #003146 100%);
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .name-company {
        display: flex;
        justify-content: center;
    }

    .img-back-top {
        width: 30%;
        position: absolute;
        top: 0;
        img{
             width:100%;
        }
    }

    .img-back-bottom {
        width: 41%;
        position: absolute;
        bottom: 0;
        right: 0;
      
        img{
             width:100%;
        }
    }

    .dark-box {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        
        .dark-shadow {
            width: 1118px;
            height: 131px;
            background: radial-gradient(50% 50% at 50% 50%, #0a0a0a 0%, rgba(7, 7, 7, 0.353) 52.6%, rgba(247, 246, 246, 0) 81.25%);
            background-blend-mode: multiply;
        }

    }

    .msg-image{
             display: flex;
             position: absolute;
             bottom: 4%;
             right: 1%;
             img{
                width: 70%;
                cursor: pointer;
             }
    }

}