@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./background.scss";
@import "./menu-bar.scss";
@import "./navbar.scss";
@import "./layout.scss";
@import "./box-one.scss";
@import "./box-two.scss";
@import "./box-three.scss";
@import "./box-four.scss";





*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

