@import "./order/order-background.scss";
@import "./order/section-box.scss";
@import "./order/second-section.scss";
@import "./common/navbar.scss";
@import "./common/background.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}